@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

.container {
    height: 100vh;
    margin-top: 4.8rem;
    width: 100%;
    position:fixed;
    background: url("background.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    align-items: center;
}

.container h1 {
    align-items: center;
    margin-left: 10rem;
    color: rgb(255, 63, 63);
}
.container p{
    margin-left: 38%;
    padding: 5px;
    
}
#myTextarea {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30rem;
    resize: none; 
    white-space: pre-wrap;
    font-family: inherit;
    background-image: url(add2.jpg);
    background-size: cover;
    color: #fff;
     
}
#fontSelect, #fontSizeButton{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    background-color: rgb(252, 75, 237);
    border: 2px solid #333;
    font-family:monospace;
    font-size: x-large;
    color: rgb(255, 255, 255);
}
.button{
    width: 4rem;
    margin-left: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
}
.back-btn {
    margin-left: 44%;
    margin-top: -0.2rem;
    background-color: rgb(252, 75, 237);
    border-radius: 10px;


}
.save-btn {
    margin-left: 50%;
    margin-top: -5.5rem;
    background-color: rgb(252, 75, 237);
    border-radius: 15px;

}
.button:hover {
    background-color: gray;
    border-radius: 15px;
}