@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}


  /* CSS for the content */
  .content {
    text-align: center;
    margin-top: 20px;
    opacity: 0.8;
  }

  .content h1{
    color: aqua;
  }

  .content textarea {
    width: 95%;
    height: 400px;
    resize: vertical;
    padding: 10px;
    margin-bottom: 10px;
    background-color: bisque;
  }

  .content .btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .content button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color:red;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
  }
  
  footer div {
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  footer span {
    color: #fff;
  }
  
  footer a {
    padding: 0;
  }


/* card design */
  ::selection{
    color: #fff;
    background: #ff7979;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("background.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 20px;
  }
  .wrapper{
    position: relative;
    width: 2230px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-right-color: #ff1414;
    
  }
  .wrapper .card{
    position: relative;
    background: #fff;
    border-radius: 3px;
    width: calc(33% - 13px);
    overflow: hidden;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
  }
  .wrapper .card img{
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  .card:hover img{
    transform: scale(1.1);
  }
  .wrapper .card .content{
    position: absolute;
    width: 100%;
    bottom: -50%;
    background: #fff;
    padding: 10px 20px 22px 20px;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
  }
  .wrapper .card:hover .content{
    bottom: 0;
  }
  .card .content .row,
  .content .buttons{
    display: flex;
    justify-content: space-between;
  }
  .content .row .details span{
    font-size: 22px;
    font-weight: 500;
  }
  .content .row .details p{
    color: #333;
    font-size: 17px;
    font-weight: 400;
  }

  .content .buttons{
    margin-top: 20px;
  }
  .content .buttons button{
    width: 100%;
    padding: 9px 0;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid #ff7979;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .buttons button:first-child{
    color: #ff7979;
    margin-right: 10px;
    background: #fff;
  }
  button:first-child:hover{
    color: #fff;
    background: #ff7979;
  }
  .buttons button:last-child{
    color: #fff;
    margin-left: 10px;
    background: #ff7979;
  }
  button:last-child:hover{
    background: #ff6666;
    border-color: #ff6666;
  }


  /* button */
  button{
    position: relative;
    height: 60px;
    width: 200px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
  }
  button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
  }
  button:last-child:hover{
    background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
    background-size: 400%;
  }
  button:first-child:before,
  button:last-child:before{
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
  }
  button:first-child:hover:before,
  button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
  }
  button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
  }
  @keyframes glow {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }