@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}





header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("background.jpg");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}
.main-box{
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  width: 400px;
  height: 550px;
  text-align: center;
}
.main-box .content{
  position: relative;
  height: 100%;
  width: 100%;
}
.content .box{
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  cursor: pointer;
}
.share, .cancel{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 20px;
  font-weight: 600;
  color: #2980b9;
  line-height: 50px;
  background: #fff;
  letter-spacing: 1px;
  border-radius: 25px;
  opacity: 0;
  transition: all 0.3s ease;
}
.content .box .share{
  opacity: 1;
}
#check:checked ~ .box .share{
  opacity: 0;
}
#check:checked ~ .box .cancel{
  opacity: 1;
}
.content .image-box{
  position: absolute;
  height: 450px;
  width: 100%;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.4s ease;
}
#check:checked ~ .image-box{
  bottom: 70px;
}
#check{
  display: none;
}
.image-box::before{
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 30px;
  width: 30px;
  background: #fff;
  z-index: -1;
}
.image-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 26px;
}
.image-box .about{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}
#check:checked ~ .image-box .about{
  opacity: 1;
}
.about .details{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 35px;
}
.details .name, .job{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
 .details .icon i{
   font-size: 20px;
   color: #fff;
   height: 45px;
   width: 45px;
   line-height: 43px;
   border-radius: 50%;
   border: 2px solid #fff;
   margin: 14px 5px;
   transition: all 0.3s ease;
 }
.details .icon i:hover{
  transform: scale(0.95);
}


/* footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px 0;
  }
  
  footer div {
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  footer span {
    color: #fff;
  }
  
  footer a {
    padding: 0;
  }