
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("background.jpg");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
  }

  .action-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }



  /* CSS for the content */
  .content {
    text-align: center;
    margin-top: 10px;
    width: 80%;
    height: auto;
    background: url(background.jpg);
  }

  .entry {
    margin-bottom: 10px;
    opacity: 0.8;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f79b9b;
    text-decoration-color: rgb(188, 188, 255);
  }

  .entry h3 {
    margin-top: 0;
    color: whitesmoke;
    margin-right: -40%;
 
  }

  .entry p {
    margin-bottom: 0;
    background-color: antiquewhite;
  }

  .edit-button,
  .delete-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ea00ff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
 
  }